<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hope you enjoy the movie</h1>

    <div>
      <%= @purchase.first_name %>
      <%= @purchase.last_name %>
      <%= @purchase.email %>
    </div>

  </body>
</html>